
		<div class="jumbotron">
				<center>
				
				<h1>Women Involved in Student Empowerment</h1>
				

				<%= image_tag "jumbopic", :class => "jumbopic"%>
				<h2>Berkeley City College</h2>
				</center>
		</div>
	<div class="container">
		<div class="col-md-6">
			
				<center>
					<%= image_tag "calendar.jpg", :class => "calendar"%>
					<h3>Upcoming Events</h3>
				</center>
			
		</div>
		<div class="col-md-6">
			
				<center>
					<%= image_tag "hammer.jpg", :class => "hammer"%>
					<h3>Club Constitution</h3>
					<p>WISE is an organization that creates a network of women who empower each other and all students at Berkeley City College. Our mission is to provide support and volunteer opportunities in three specialized areas; STEM (Science, Technology, Engineering and Mathematics), the Arts, and Academic Preparation. Through peer support, outreach and development we will enrich students’ lives towards academic success!</p>
				</center>
			
		</div>
		<div class="col-md-6">
			<center>
					<%= image_tag "health2.png", :class => "health"%>
					<h3>Self Care Tips</h3>
					<br>
					<h4>1. Vinyasa Yoga</h4>
						<p>Yoga to the People on Shattuck - Donation based</p>
					<h4>2. Meditation</h4>
						<p>Free intro to meditation every wednesday at 6.30pm at the Shambala Center on Oxford St. <br>Check: www.berkeley.shambala.org</p>
					<h4>3. Acupuncture</h4>
						<p> Berkeley Acupuncture Project on University Ave. Across from Trader Joe's 35-40 dollar sliding scale for a session.<br> Check: www.berkeleyacupunctureproject.com
					<h4>4. Womens's Therapy</h4>
						<p>Women's Therapy Center location a block down from BCC on MLK. Affordable psychotherapy for women of all ages and transgender individuals.<br> Check: www.womenstherapy.org</p>
					<h4>5. Walk Around Berkeley</h4>
						<p>Walking triggers endorphines, promotes relaxation and prevents anxiety and depression. </p>
				</center>
	</div>
</div>