.jumbotron {
height: 500px;
width: 100%;
padding-top:0px;
background-image: url(http://i51.photobucket.com/albums/f364/esbenbsmith/lips_zpsa9d6vxpu.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
color: white;  
margin-top:-20px;
text-shadow: 2px 2px 4px #000000;
}
body > div.jumbotron > center > h1 {
	color:white;
	text-shadow: 2px 2px 4px #000000;
}
body > div.jumbotron > center > h2 {
	color:white;
	text-shadow: 2px 2px 4px #000000;
}